# Version control
.git
.gitignore

# Dependencies
**/node_modules
**/dist
.turbo
**/.turbo

# Environment files
.env
.env.*

# Development files
**/.vscode
**/.idea
**/*.log
**/coverage
**/.nyc_output
**/playwright-report
**/test-results

# Build files
**/build
**/dist
**/*.tsbuildinfo
**/.cache
