name: Branch Build & Deploy

env:
  DOCKER_REGISTRY: docker.io

permissions:
  packages: write
  id-token: write
  contents: read

on:
  push:
    branches-ignore:
      - master

jobs:
  lint-typecheck:
    uses: ./.github/workflows/lint-typecheck.yml
